#img-bg{
    background-image: url('https://images.pexels.com/photos/839465/pexels-photo-839465.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');

    min-height: 900px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}